<header class="slide-right">
  <a id="header-logo" href="index.php">
    <img src="/sito-viaggi/assets/icons/logo1.webp" alt="Il logo della compagnia, un aereo che attraversa una nuvola" width="40%" /><p>GoTo</p>
  </a>
  <div class="burger">
    <span class="burger-line"></span>
    <span class="burger-line"></span>
    <span class="burger-line"></span>
  </div>
  <nav class="menu">
    <ul class="menu-inner">
      <li class="menu-item"><a href="index.php">Home</a></li>
      <li class="menu-item"><a href="destinations.php">Destinazioni</a></li>
      <li class="menu-item"><a href="activities.php">Attività</a></li>
      <li class="menu-item"><a href="agenzia.php">Chi siamo</a></li>
    </ul>
  </nav>
  <button id="theme-button" type="button"><span id="theme-icon" class="material-symbols-outlined">dark_mode</span></button>
  <div class="user">
    <component>user</component>
  </div>
</header>