<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>
            <component>activityName</component> - GoTo
        </title>
        <meta name="description" content="In questa pagina del nostro sito di viaggi troverai i dettagli riguardanti l'attività che hai selezionato, descrizione, immagini e tante curiosità.">
        <meta name="keyword" content="Viaggi, Viaggiare, Vacanze, GoTo, <component>activityName</component>">
        <meta name="author" content="Arianna DeLaurentis, Elena Fabris, Nicola Sinicato, Enrico Zangrando">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/sito-viaggi/src/style.css" media="screen">
        <link rel="icon" type="image/png" href="/sito-viaggi/assets/icons/logo.png">        
        <link rel="stylesheet" href="print.css" media="print">
        <link rel="stylesheet" href="/sito-viaggi/src/small-screen.css" media="only screen and (max-width: 700px)">
        <link rel="stylesheet" href="/sito-viaggi/src/large-screen.css" media="only screen and (min-width: 1400px)">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
        <script src="/sito-viaggi/src/index.js" defer></script>
    </head>
    <body>
        <div class="page-container">
        <div class="content-wrap">
        <component>header</component>
        <nav id= "breadcrumb" aria-label="percorso">
            <p>
                Ti trovi in: <a href="index.php">Home</a> >> <a href="destination.php?id=<component>destinationId</component>"><component>destinationName</component></a> >> <component>activityName</component>
            </p>
        </nav>
    
        <main>
            <section class="slide-bottom" id="gallery-activity">
                <component>carousel</component>
            </section>
            <section class="primary-container container slide-right" id="description-activity">
                <h1><component>activityName</component></h1>
                <div><component>description</component></div>
                <p id="price-activity">
                    <component>price</component>€ a persona
                </p>
            </section>
            <section class="tertiary-container container slide-up" id="destinations">
                <h2>Destinazioni contenenti questa attività:</h2> 
                <div  class="horizontal-cards-collection">
                    <component>destinations</component>
                </div>
            </section>
        </main>
        </div>
        <component>footer</component>
    </div>
    </body>
</html>
