<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>
            GoTo - Chi Siamo
        </title>
        <meta name="description" content="In questa pagina del nostro sito di viaggi troverai tutti i dettagli riguardanti la nostra agenzia. La nostra storia, chi siamo, dove potete venirci a trovare e molto altro ancora.">
        <meta name="keyword" content="Viaggi, Viaggiare, Vacanze, GoTo agenzia, agenzia viaggi">
        <meta name="author" content="Arianna DeLaurentis, Elena Fabris, Nicola Sinicato, Enrico Zangrando">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/sito-viaggi/src/style.css" media="screen">
        <link rel="icon" type="image/png" href="/sito-viaggi/assets/icons/logo.png">        
        <link rel="stylesheet" href="print.css" media="print">
        <link rel="stylesheet" href="/sito-viaggi/src/small-screen.css" media="only screen and (max-width: 700px)">
        <link rel="stylesheet" href="/sito-viaggi/src/large-screen.css" media="only screen and (min-width: 1400px)">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
        <script src="/sito-viaggi/src/index.js" defer></script>
    </head>
    <body>
        <component>header</component>
        <nav id="breadcrumb" aria-label="percorso">
            <p>
                Ti trovi in: <a href="index.php">Home</a> >> Chi siamo
            </p>
        </nav>
        <main>
            <div id="story" class="primary-container container slide-right">
                <h1>GoTo - Agenzia Viaggi</h1>
                <h2> Ci presentiamo</h2>
                <p>
                    Siamo nati più di 10 anni fa dall'idea di 4 ragazzi amanti dell'avventura che hanno deciso di trasformare la loro passione in lavoro. 
                </p>
                <p>
                    Per ogni viaggio che offriamo, dietro vi è il nostro lavoro professionale nel curare tutti i particolari per rendere la vostra esperienza unica. Con metodologia scegliamo passo dopo passo ogni dettaglio, dal "cosa vedere" alla selezione di hotel grazie alla conoscenza del territorio dei nostri esperti.
                </p>
                <ul id="photos" class="horizontal-cards-collection">
                    <img src="../assets/Agenzia/agenzia_1.webp" alt="Le nostre impiegate mentre servono dei clienti in agenzia."/>
                    <img src="../assets/Agenzia/agenzia_2.webp" alt="Le nostre impiegate mentre servono dei clienti in agenzia."/>
                    <img src="../assets/Agenzia/agenzia_3.webp" alt="Le nostre impiegate mentre servono dei clienti in agenzia."/>
                    <img src="../assets/Agenzia/in_viaggio.webp" alt="In primo piano la cartolina di un turista mentre è in autobus."/>
                    <img src="../assets/Agenzia/mondo.webp" alt="Cartina del mondo contrassegnata in diverse località."/>
                </ul>
            </div>
            <section class="primary-container container slide-right">
                <div id="where">
                    <h2>Vieni a trovarci</h2>
                    <p>
                        Ti aspettiamo in centro a Padova in Via Giambattista Belzoni, 7, 35131 Padova PD, dove sarai accolto dal nostro personale qualificato e accompagnato nella ricerca della vacanza dei tuoi sogni! 
                    </p>
                </div>
                <div id="when">
                <table title="Gli orari della nostra agenzia" summary="La tabella è organizzata per righe e colonne. I giorni della settimana in cui siamo aperti, dal lunedì al sabato, sono disposti nelle righe mentre la divisione della giornata in mattino e pomeriggio viene disposta nelle colonne."> 
                        <caption>Orari di apertura</caption>
                        <thead>
                            <tr>
                                <td></td>
                                <th scope="col" abbr="Matt.">Mattino</th>
                                <th scope="col" abbr="Pome">Pomeriggio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" abbr="Lun">Lunedì</th>
                                <td>Chiuso</td>
                                <td abbr="14 - 18"><time>14:00</time> - <time>18:00</time></td>
                            </tr>
                            <tr>
                                <th scope="row" abbr="Mar">Martedì</th>
                                <td abbr="8 - 12"><time>8:00</time> - <time>12:00</time></td>
                                <td abbr="14 - 18"><time>14:00</time> - <time>18:00</time></td>
                            </tr>
                            <tr>
                                <th scope="row" abbr="Mer">Mercoledì</th>
                                <td abbr="8 - 12"><time>8:00</time> - <time>12:00</time></td>
                                <td abbr="14 - 18"><time>14:00</time> - <time>18:00</time></td>
                            </tr>
                            <tr>
                                <th scope="row" abbr="Giov">Giovedì</th>
                                <td abbr="8 - 12"><time>8:00</time> - <time>12:00</time></td>
                                <td>Chiuso</td>
                            </tr>
                            <tr>
                                <th scope="row" abbr="Ven">Venerdì</th>
                                <td abbr="8 - 12"><time>8:00</time> - <time>12:00</time></td>
                                <td abbr="14 - 18"><time>14:00</time> - <time>18:00</time></td>
                            </tr>
                            <tr>
                                <th scope="row" abbr="Sab">Sabato</th>
                                <td abbr="8 - 12"><time>8:00</time> - <time>12:00</time></td>
                                <td>Chiuso</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <div id="contact" class="secondary-container container slide-right">
                <h2>Contattaci</h2>
                <p>
                    Se hai bisogno di assistenza o vuoi riceve ulteriori informazioni riguardanti i viaggi, la nostra agenzia o sui servizi che vi offriamo non esitare a contattarci, negli orari di apertura sopra elencati, tramite:
                </p>
                <ul>
                    <li>Telefono: <a href="tel:+3935722691551">+39-35722691551</a></li>
                    <li>Email:<a href="mailto:info@goto.com?subject=[Info]">info@goto.com</a></li>
                </ul>
            </div>
        </main>
            <component>footer</component>
    </body>