<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>
            GoTo - <component>destinationName</component>
        </title>
        <meta name="description" content="In questa pagina del nostro sito di viaggi troverai i dettagli riguardanti la meta che hai selezionato, immagini, curiosità, informazioni sull'hotel e molto altro."> <!---descrizione ---->
        <meta name="keyword" content="Viaggi, Viaggiare, Vacanze"> <!--- aggiungere keywords ---->
        <meta name="author" content="Arianna DeLaurentis, Elena Fabris, Nicola Sinicato, Enrico Zangrando">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/sito-viaggi/src/style.css" media="screen">
        <link rel="shorcut icon" type="" href=""> <!---link logo ---->
        <link rel="stylesheet" href="print.css" media="print">
        <link rel="stylesheet" href="/sito-viaggi/src/small-screen.css" media="only screen and (max-width: 700px)">
        <link rel="stylesheet" href="/sito-viaggi/src/large-screen.css" media="only screen and (min-width: 1100px)">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
        <script src="/sito-viaggi/src/index.js" defer></script>
    </head>
    <body>
        <component>header</component>

        <nav id="breadcrumb" aria-label="percorso">
            <p>
                Ti trovi in: <a href="index.php">Home</a> >> <component>destinationName</component>
            </p>
        </nav>
        

        <main>
            <h1><component>destinationName</component></h1>
            <section class="slide-bottom" id="gallery">
                <component>carousel</component>
            </section>
            <section class="primary-container container slide-right" id="description">
                <component>description</component>
            </section>
            <section class="secondary-container container slide-up" id="hotels">
                <h2>Alloggi disponibili</h2>
                <component>hotelCarousel</component>
            </section>
            <section class="secondary-container container slide-left" id="airlines">
                <h2>Compagnia aerea</h2>
                <h3><component>airline</component></h3>
            </section>
            <section class="slide-up" id="activities">
                <h2>Aggiungi delle attività al tuo viaggio</h2>
                <div  class="horizontal-cards-collection">
                    <component>activities</component>
                </div>
            </section>
        </main>

        
        <component>footer</component>
    </body>
</html>