<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>
            <component>hotelName</component> - GoTo
        </title>
        <meta name="description" content="In questa pagina del nostro sito di viaggi troverai i dettagli riguardanti l'hotel associato al viaggio che hai selezionato.">
        <meta name="keyword" content="Viaggi, Viaggiare, Vacanze, GoTo, <component>hotelName</component>">
        <meta name="author" content="Arianna DeLaurentis, Elena Fabris, Nicola Sinicato, Enrico Zangrando">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="<component>base</component>">
        <link rel="stylesheet" href="src/style.css" media="screen">
        <link rel="icon" type="image/png" href="assets/icons/logo.png">
        <link rel="stylesheet" href="print.css" media="print">
        <link rel="stylesheet" href="src/small-screen.css" media="only screen and (max-width: 700px)">
        <link rel="stylesheet" href="src/large-screen.css" media="only screen and (min-width: 1400px)">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,0" />
        <script src="src/index.js" defer></script>
    </head>
    <body>
        <div class="page-container">
        <div class="content-wrap">
        <component>header</component>
        <component>breadcrumb</component>
    
        <main class="single-component-page">
            <section class="primary-container container slide-right" id="description-activity">
                <h1><component>hotelName</component></h1>
                <div><component>description</component></div>
                <a href="<component>link</component>" class="hotel-link" target="_blank">Vai al sito dell'hotel</a>
            </section>
            <section class="slide-bottom" id="hotel-gallery">
                <component>carousel</component>
            </section>
        </main>
        </div>
        <component>footer</component>
        </div>
    </body>
</html>
