<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>
            GoTo - <component>hotelName</component>
        </title>
        <meta name="description" content="In questa pagina del nostro sito di viaggi troverai i dettagli riguardanti l'hotel associato al viaggio che hai selezionato.">
        <meta name="keyword" content="Viaggi, Viaggiare, Vacanze, GoTo, <component>activityName</component>">
        <meta name="author" content="Arianna DeLaurentis, Elena Fabris, Nicola Sinicato, Enrico Zangrando">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/sito-viaggi/src/style.css" media="screen">
        <link rel="icon" type="image/png" href="/sito-viaggi/assets/icons/logo.png">        
        <link rel="stylesheet" href="print.css" media="print">
        <link rel="stylesheet" href="/sito-viaggi/src/small-screen.css" media="only screen and (max-width: 700px)">
        <link rel="stylesheet" href="/sito-viaggi/src/large-screen.css" media="only screen and (min-width: 1400px)">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
        <script src="/sito-viaggi/src/index.js" defer></script>
    </head>
    <body>
        <component>header</component>
        <nav id= "breadcrumb" aria-label="percorso">
            <p>
                Ti trovi in: <a href="index.php">Home</a> >> <component>hotelName</component>
            </p>
        </nav>
    
        <main>
            <section class="slide-bottom" id="gallery-hotel">
                <component>carousel</component>
            </section>
            <section class="primary-container container slide-right" id="description-hotel">
                <h1><component>hotelName</component></h1>
                <div><component>description</component></div>
                <p id="link-hotel">
                    <component>link</component>
                </p>
            </section>
        </main>
        <component>footer</component>
    </body>
</html>
