<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>
            GoTo - Home
        </title>
        <meta name="description" content="Questa pagina è il punto di incostro tra le emozioni e le avventure che noi vogilamo farti vivere e le mete e i viggi che tu desideri. Troverai pacchetti viaggio organizzati per te per farti scoprire nuove mete e farti vivere nuove esperienze in ogni angolo del mondo."> <!---descrizione ---->
        <meta name="keyword" content="Viaggi, Viaggiare, Vacanze"> <!--- aggiungere keywords ---->
        <meta name="author" content="Arianna DeLaurentis, Elena Fabris, Nicola Sinicato, Enrico Zangrando">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/sito-viaggi/src/style.css" media="screen">
        <link rel="shorcut icon" type="" href=""> <!---link logo ---->
        <link rel="stylesheet" href="print.css" media="print">
        <link rel="stylesheet" href="/sito-viaggi/src/small-screen.css" media="only screen and (max-width: 700px)">
        <link rel="stylesheet" href="/sito-viaggi/src/large-screen.css" media="only screen and (min-width: 1100px)">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap" rel="stylesheet">
        <script src="/sito-viaggi/src/index.js" defer></script>
    </head>
    <body>
        <component>header</component>

        <nav id="breadcrumb" aria-label="percorso">
            <p>
                Ti trovi in: <span lang="en">Home</span>
            </p>
        </nav>
        
        <main>
            <h2>Goditi un rilassante viaggio in una località marittima</h2>
            <p>Clicca sulla destinazione che più ti attira per cominciare la tua prossima avventura.</p>
            <div class="horizontal-cards-collection">
                <component>seaDestinations</component>
            </div>
            <h2>Esplora una nuova grande città</h2>
            <div class="horizontal-cards-collection">
                <component>cityDestinations</component>
            </div>
        </main>

        
        <component>footer</component>
    </body>
</html>