<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>
            GoTo - Viaggi
        </title>
        <meta name="description" content=""> <!---descrizione ---->
        <meta name="keyword" content="Viaggi, Viaggiare, Vacanze"> <!--- aggiungere keywords ---->
        <meta name="author" content="Arianna DeLaurentis, Elena Fabris, Nicola Sinicato, Enrico Zangrando">
        <link rel="stylesheet" href="style-grid.css" media="screen">
        <link rel="shorcut icon" type="" href=""> <!---link logo ---->
        <link rel="stylesheet" href="print.css" media="print"> 
        <link rel="stylesheet" href="mini.css" media="only screen">
    </head>
    <body>
        <component>header</component>

        <nav id="breadcrumb" aria-label="percorso">
            <p>
                Ti trovi in: <span lang="en"><a>Home</a></span>.<!-- href="../index.php" -->
            </p>
        </nav>
        

        <main>
            <h1>Scegli la tua prossima destinazione</h1>
            <p>Clicca sulla destinazione che più ti attira per cominciare la tua prossima avventura.</p>
            <component>destinations</component>
        </main>

        
        <component>footer</component>
    </body>
</html>