<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>
            Home - GoTo
        </title>
        <meta name="description" content="Questa pagina è il punto di incontro tra le emozioni e le avventure che noi vogliamo farti vivere e le mete e i viaggi che tu desideri. Troverai pacchetti viaggio organizzati per te per farti scoprire nuove mete e farti vivere nuove esperienze in ogni angolo del mondo.">
        <meta name="keywords" content="Viaggi, Viaggiare, Vacanze, GoTo, Agenzia viaggi, Relax, Turismo, Città, Mare, Safari, Escursioni, Trekking, Musei">
        <meta name="author" content="Arianna DeLaurentis, Elena Fabris, Nicola Sinicato, Enrico Zangrando">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="<component>base</component>">
        <link rel="stylesheet" href="src/style.css" media="screen">
        <link rel="icon" type="image/png" href="assets/icons/logo.png">
        <link rel="stylesheet" href="print.css" media="print">
        <link rel="stylesheet" href="src/small-screen.css" media="only screen and (max-width: 700px)">
        <link rel="stylesheet" href="src/large-screen.css" media="only screen and (min-width: 1400px)">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,0" />
        <script src="src/index.js" defer></script>
    </head>
    <body>
        
            <component>header</component>

        <nav id="breadcrumb" aria-label="percorso">
            <p>
                Ti trovi in: <span lang="en">Home</span>
            </p>
        </nav>
        
        <main>
            <section class="primary-container container slide-right">
                <h2>Goditi un rilassante viaggio in una località marittima</h2>
                <div class="horizontal-cards-collection">
                    <component>seaDestinations</component>
                </div>
            </section>
            <section class="primary-container container slide-right">
                <h2>Esplora una nuova grande città</h2>
                <div class="horizontal-cards-collection">
                    <component>cityDestinations</component>
                </div>
            </section>
            <section class="primary-container container slide-right">
                <h2>Parti all'avventura per un meraviglioso safari</h2>
                <div class="horizontal-cards-collection">
                    <component>safariDestinations</component>
                </div>
            </section>
            <div id="toAllDestinations" class="tertiary-container container slide-right">
                <a href="src/destinations.php">Dai un'occhiata a tutte le destinazioni disponibili</a>
            </div>
        </main>
        
        
        <component>footer</component>
        
    </body>
</html>