<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>
            GoTo - Riepilogo Acquisto
        </title>
        <meta name="description" content="In questa pagina del nostro sito di viaggi potrai acquistare il pacchetto scelto."> <!---descrizione ---->
        <meta name="keyword" content="Viaggi, Viaggiare, Vacanze"> <!--- aggiungere keywords ---->
        <meta name="author" content="Arianna DeLaurentis, Elena Fabris, Nicola Sinicato, Enrico Zangrando">
        <link rel="stylesheet" href="style-grid.css" media="screen">
        <link rel="shorcut icon" type="" href=""> <!---link logo ---->
        <link rel="stylesheet" href="print.css" media="print"> 
        <link rel="stylesheet" href="mini.css" media="only screen">
    </head>
    <body>
        <component>header</component>

        <nav id="breadcrumb" aria-label="percorso">
            <p>
                Ti trovi in: Riepilogo Acquisto
            </p>
        </nav>
        
        <main>
            <h1>Riepilogo Acquisto</h1>
            <component>carrello</component>
            <h2>Inserisci dati partecipanti</h2>
            <!--default mettere utente-->
            <label>Tipo di documento<span>*</span>:</label><input type="text" name="document_type" maxlength="50" placeholder="Tipo di documento" required/>
            <label>Numero documento<span>*</span>:</label><input type="text" name="document_number" maxlength="50" placeholder="Numero documento" required/>

            <input type="button" name="addPartecipant" placeholder="Aggiungi Partecipante" />           
            <!--<label>Nome<span>*</span>:</label><input name="name" maxlength="100" placeholder="Nome" required/>
            <label>Cognome<span>*</span>: </label><input name="surname" maxlength="100" placeholder="Cognome" required/>
            <label>Username<span>*</span>:</label><input name="username" maxlength="50" placeholder="Username" required/>
            <label>Genere<span>*</span>:</label>
            <select name="gender">
                <option value="M">Maschio</option>
                <option value="W">Femmina</option>
                <option value="U">Altro</option>
            </select>
            <label>Data di nascita<span>*</span>:</label><input type="date" name="date_of_birth" required/>
            <label>E-mail<span>*</span>:</label><input type="email" name="email" maxlength="100" placeholder="E-mail" required/>
            <label>Numero di telefono<span>*</span>:</label><input type="tel" name="numero" maxlenght="20" placeholder="Numero" required/>-->
            
            <h2>Seleziona modalità di Pagamento</h2>
            <label>Numero della carta<span>*</span>:</label><input type="number" name="card_number" maxlength="16" placeholder="Numero carta" required/>
            <label>CVC<span>*</span>:</label><input type="number" name="cvc" maxlength="3" placeholder="CVC" required/>
            <label>Data di scadenza<span>*</span>:</label><input type="date" name="expiration_date" required/>
            <label>Nome titolare<span>*</span>:</label><input type="text" name="name" maxlength="100" placeholder="Nome titolare" required/>
            <label>Cognome titolare<span>*</span>:</label><input type="text" name="surname" maxlength="100" placeholder="Cognome titolare" required/>

            <input type="button" name="purchase" value="Acquista"/>
            <input type="reset" name="undo" value="Annulla"/>
        </main>
        
        <component>footer</component>
    </body>
</html>