<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>
            Pagamento effettuato - GoTo
        </title>
        <link rel="icon" type="image/png" href="/sito-viaggi/assets/icons/logo.png">
        <meta name="description" content="Da fare">
        <meta name="keyword" content="Da fare">
        <meta name="author" content="Arianna DeLaurentis, Elena Fabris, Nicola Sinicato, Enrico Zangrando">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/sito-viaggi/src/style.css" media="screen">
        <link rel="stylesheet" href="print.css" media="print">
        <link rel="stylesheet" href="/sito-viaggi/src/small-screen.css" media="only screen and (max-width: 700px)">
        <link rel="stylesheet" href="/sito-viaggi/src/large-screen.css" media="only screen and (min-width: 1400px)">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,0" />
        <script src="/sito-viaggi/src/index.js" defer></script>
    </head>
    <body>
        <component>header</component>
        <nav id="breadcrumb" aria-label="percorso">
            <p>
                Ti trovi in: <a href="index.php">Home</a> >> <a href="destination.php?id=<component>destinationId</component>"><component>destinationName</component></a> >> <a href ="purchase_decision.php">Composizione pacchetto</a> >> <a href ="payment.php">Acquisto</a> >> Pagamento avvenuto con successo
            </p>
        </nav>

        <main id="payment-is-fine">
            <h1>L'acquisto del viaggio per <component>destinationName</component> dal <component>start</component> al <component>end</component> al prezzo di: <component>price</component> è avvenuto con successo.</h1>
            <h2> Verrai reindirizzato alla home tra 10 secondi.</h2>
        </main>
        <component>footer</component>
    </body>
</html>