<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>
            Acquisti effettuati - GoTo
        </title>
        <meta name="description" content=""> <!---descrizione ---->
        <meta name="keyword" content="">
        <meta name="author" content="Arianna DeLaurentis, Elena Fabris, Nicola Sinicato, Enrico Zangrando">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="<component>base</component>">
        <link rel="stylesheet" href="src/style.css" media="screen">
        <link rel="icon" type="image/png" href="assets/icons/logo.png">
        <link rel="stylesheet" href="print.css" media="print">
        <link rel="stylesheet" href="src/small-screen.css" media="only screen and (max-width: 700px)">
        <link rel="stylesheet" href="src/large-screen.css" media="only screen and (min-width: 1400px)">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,0" />
        <script src="src/index.js" defer></script>
    </head>
    <body>
        <div class="page-container">
        <div class="content-wrap">
        <component>header</component>
        <nav id="breadcrumb" aria-label="percorso">
            <p>
                Ti trovi in: <a href="src/index.php"><span lang="en">Home</span></a> >> <a href="src/admin.php">Admin</a> >> Acquisti effettuati
            </p>
        </nav>

        <main>
            <h1>Acquisti effettuati</h1>
            <component>PurchaseMade</component>
        </main>
        </div>
        <component>footer</component>
        </div>
    </body>
</html>