<footer class="slide-right">
    <div>
        <a id="footer-logo" href="agenzia.php">
            <img src="/sito-viaggi/assets/icons/logo.png" alt="Il logo della compagnia, un aereo che attraversa una nuvola" width="40%" /><p>GoTo</p>
        </a>
        <p>&copy; 2023 GoTo agency</p>
    </div>
    <span class="vertical-line"></span>
    <div>
        <p>Seguici</p>
        <a href="index.php"> <img src="/sito-viaggi/assets/icons/ig.png" alt="Seguici su instagram" /></a>
        <a href="index.php"> <img src="/sito-viaggi/assets/icons/fb.png" alt="Seguici su facebook" /></a>
        <a href="index.php"> <img src="/sito-viaggi/assets/icons/twitter.png" alt="Seguici su twitter" /></a>
        
    </div>
    <span class="vertical-line"></span>
    <div>
        <p>Contattaci</p>
        <a href="index.php"> <img src="/sito-viaggi/assets/icons/telegram.png" alt="Contattaci su telegram" /></a>
    </div>
</footer>