<footer class="slide-right">
    <div>
        <a id="footer-logo" href="agenzia.php">
            <img src="/sito-viaggi/assets/icons/logo1.png" alt="Il logo della compagnia, un aereo che attraversa una nuvola" width="40%" /><p>GoTo</p>
        </a>
        <p>&copy; 2023 GoTo agency</p>
    </div>
    <span class="vertical-line"></span>
    <div>
        <p>Seguici</p>
        <a href="https://www.instagram.com"> <img src="/sito-viaggi/assets/icons/ig_b.png" alt="Seguici su instagram" /></a>
        <a href="https://it-it.facebook.com/"> <img src="/sito-viaggi/assets/icons/fb_b.png" alt="Seguici su facebook" /></a>
        <a href="https://twitter.com/"> <img src="/sito-viaggi/assets/icons/twitter_b.png" alt="Seguici su twitter" style="height: 1.5em;"/></a>
        
    </div>
    <span class="vertical-line"></span>
    <div>
        <p>Contattaci</p>
        <a href="https://web.telegram.org"> <img src="/sito-viaggi/assets/icons/telegram_b.png" alt="Contattaci su telegram" /></a>
    </div>
</footer>