<footer class="slide-right">
    <div>
        <a id="header-logo" href="chiSiamo.html">
            <img src="/sito-viaggi/assets/icons/logo1.webp" alt="Il logo della compagnia, un aereo che attraversa una nuvola" width="40%" /><p>GoTo</p>
        </a>
        <p>&copy; 2023 GoTo agency</p>
    </div>
    <div>
        <p>Seguici</p>
        <a href="index.php"> <img src="/sito-viaggi/assets/icons/ig_logo.jpg" alt="Seguici su instagram" /><p>instagram</p></a>
        <a href="index.php"> <img src="/sito-viaggi/assets/icons/fb_logo.jpg" alt="Seguici su facebook" /><p>facebook</p></a>
        <a href="index.php"> <img src="/sito-viaggi/assets/icons/twitter.jpg" alt="Seguici su twitter" /><p>twitter</p></a>
        
    </div>
    <div>
        <p>Contattaci</p>
        <a href="index.php"> <img src="/sito-viaggi/assets/icons/telegram.jpg" alt="Contattaci su telegram" /><p>telegram</p></a>
    </div>
</footer>