<div class="form-destination">
    <form id="form-purchase" name="myForm" action="payment.php" method="POST" onsubmit="return validateFormPurchase()">
        <fieldset class="choose-travel">
            <legend>Scegli il viaggio:</legend>
            <component>travels</component>
        </fieldset>
        <fieldset class="choose-activity">
            <legend>Scegli le attività da fare:</legend>
            <component>activities</component>
        </fieldset>
        <fieldset class="choose-hotel">
            <legend>Scegli l'hotel in cui soggiornare:</legend>
            <component>hotels</component>
        </fieldset>
        <fieldset class="choose-air-company">
            <legend>Scegli la compagnia aerea con cui volare:</legend>
            <component>airCompanies</component>
        </fieldset>
        <input type="submit" value="Vai all'acquisto"/>
    </form>
    <p id="choose-one-travel">Devi selezionare il viaggio da te preferito.</p>
    <p id="choose-one-hotel">Devi selezionare l'hotel in cui pernottare.</p>
    <p id="choose-one-airline">Devi selezionare la compagnia aerea con cui volare.</p>
    <p id="refresh-the-page">Ci scusiamo per il disagio ma le chiediamo di refreshare la pagina a causa di un errore imprevisto.</p>
</div>