<div class="form-destination">
    <form action="">
        <fieldset class="choose-travel">
            <legend>Scegli il viaggio:</legend>
            <component>travels</component>
        </fieldset>
        <fieldset class="choose-activity">
            <legend>Scegli le attività da fare:</legend>
            <component>activities</component>
        </fieldset>
        <fieldset class="choose-hotel">
            <legend>Scegli l'hotel in cui soggiornare:</legend>
            <component>hotels</component>
        </fieldset>
        <fieldset class="choose-air-company">
            <legend>Scegli la compagnia aerea con cui volare:</legend>
            <component>airCompanies</component>
        </fieldset>
        <input type="submit" value="Vai all'acquisto"/>
    </form>
</div>