<div>
    <ul class="Purchase-buyed">
        <li>Numero seriale dell'acquisto: <component>Id</component>.</li>
        <li>Effettuato il: <component>Moment</component>.</li>
        <li>Con la carta: <component>Card</component> a nome di: <component>Surname</component> <component>Name</component>.</li>
        <li>Per: <component>Destination</component> dal <component>Start</component> al <component>End</component>.</li>
        <component>Activities</component>
        <li>Al prezzo di: <component>Price</component>€.</li>
    </ul>
</div>