<div class="primary-container container slide-right">
    <ul class="purchased">
        <li>Numero seriale dell'acquisto: <component>Id</component>.</li>
        <li>Effettuato il: <component>Moment</component>.</li>
        <li>Con la carta: <component>Card</component> a nome di: <component>Surname</component> <component>Name</component>.</li>
        <li id="destination-purchased">Per: <a href="src/destination.php?id=<component>idDestination</component>"><component>Destination</component></a> dal <component>Start</component> al <component>End</component>.</li>
        <component>Activities</component>
        <li id="price-purchased">Al prezzo di: <component>Price</component>€.</li>
    </ul>
</div>