/*
=======================================
================ MAIN =================
=======================================
*/

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 0.6fr auto auto auto;
}

main > h1 { grid-area: 1 / 1 / 2 / 3; }
#gallery { grid-area: 2 / 1 / 3 / 2; }
#description { grid-area: 2 / 2 / 3 / 3; }
#hotels { grid-area: 3 / 1 / 5 / 2; }
#price { grid-area: 3 / 2 / 4 / 3; }
#airlines { grid-area: 4 / 2 / 5 / 3; }
#activities { grid-area: 5 / 1 / 6 / 3; }

.activity-card {
    flex-basis: 25%;
}