body {
    font-size: 1em;
}

h1 {
    color: orange;
}

.activity-card {
    flex-basis: 60%;
}

.dot {
    height: 0.4em;
    width: 0.4em;
}
/* smartphones, touchscreens */
@media (pointer: coarse) {
    .prev, .next {
        display: none;
    }

    .slide-number {
        display: none;
    }
}

.active, .dot:hover {
    width: 0.7em;
    height: 0.7em;
}

.airline-info img {
    width: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
}