:root {
    --carosuel-width: 90%;
    --carousel-slide-height: 40em;
    --cards-border-radius: 1.5em;
    --cards-max-width: 40%;
    --primary: #0051DF;
    --onPrimary: #FFFFFF;
    --primaryContainer: #DBE1FF;
    --onPrimaryContainer: #00174D;
    --secondary: #595E72;
    --onSecondary: #FFFFFF;
    --secondaryContainer: #DDE1F9;
    --onSecondaryContainer: #161B2C;
    --tertiary: #8F00E0;
    --onTertiary: #FFFFFF;
    --tertiaryContainer: #F3DAFF;
    --onTertiaryContainer: #2E004D;
    --surface: #FEFBFF;
    --onSurface: #1C1B1E;
    --error: #BA1A1A;
    --onError: #FFFFFF;
    --errorContainer: #FFDAD6;
    --onErrorContainer: #410002;
}

.dark-theme {
    --primary: #B5C4FF;
    --onPrimary: #00297A;
    --primaryContainer: #003DAB;
    --onPrimaryContainer: #DBE1FF;
    --secondary: #C1C5DD;
    --onSecondary: #2B3042;
    --secondaryContainer: #414659;
    --onSecondaryContainer: #DDE1F9;
    --tertiary: #E2BBDB;
    --onTertiary: #422740;
    --tertiaryContainer: #5B3D58;
    --onTertiaryContainer: #FFD6F7;
    --surface: #1B1B1F;
    --onSurface: #E6E1E6;
    --error: #FFB4AB;
    --onError: #690005;
    --errorContainer: #93000A;
    --onErrorContainer: #FFB4AB;
}

* {
    font-family: 'Work Sans', sans-serif;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
    background-color: var(--surface);
}
/*
=======================================
============= ANIMATIONS ==============
=======================================
*/

.slide-right {
    animation-name: slide-right;
    animation-duration: 0.7s;
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

.slide-left {
    animation-name: slide-left;
    animation-duration: 0.7s;
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

.slide-up {
    animation-name: slide-up;
    animation-duration: 0.7s;
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

.slide-bottom {
    animation-name: slide-bottom;
    animation-duration: 0.7s;
}

@keyframes slide-bottom {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

/*
=======================================
============= CONTAINERS ==============
=======================================
*/

.primary-container {
    background-color: var(--primaryContainer);
    color: var(--onPrimaryContainer);
    border-color: var(--primary);
}

.secondary-container {
    background-color: var(--secondaryContainer);
    color: var(--onSecondaryContainer);
    border-color: var(--secondary);
}

.tertiary-container {
    background-color: var(--tertiaryContainer);
    color: var(--onTertiaryContainer);
    border-color: var(--tertiary);
}

.container {
    padding: 1.2em 2em;
    height: fit-content;
    margin: 0 1em 1.2em;
    border-radius: var(--cards-border-radius);
}

/*
=======================================
================ MAIN =================
=======================================
*/

main > h1 {
    display: flex;
    justify-content: center;
}

/*
=======================================
========= CONTAINER CAROUSEL ==========
=======================================
*/

.container-carousel {
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.controls > .carousel-dots {
    margin: auto;
}

/*
=======================================
============== CAROUSEL ===============
=======================================
*/
.carousel {
    max-width: var(--carosuel-width);
    position: relative;
    margin: auto;
}

.gallery-slide {
    display: none;
}

.gallery-slide img {
    border-radius: 1.4em;
    aspect-ratio: 3/2;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: var(--carousel-slide-height);
}

.hotel-slide {
    display: none;
}

.gallery-carousel > .prev, .gallery-carousel > .next {
    position: absolute;
    top: 50%;
    width: 0.75em;
    height: 0.75em;
    line-height: 0.75em;
    text-align: center;
    border-radius: 50%;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    background-color: rgb(0,0,0,0.5);
}

.gallery-carousel > .prev {
    left: 0.6em;
}

.gallery-carousel > .next {
    right: 0.6em;
}

.gallery-carousel > .next:hover, .gallery-carousel > .prev:hover {
    background-color: rgb(0,0,0,0.8);
}

.slide-number {
    width: fit-content;
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 1em;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,0.3);
    border-radius: 10em;
}

.dot {
    cursor: pointer;
    height: 0.6em;
    width: 0.6em;
    margin: 0 0.2em;
    background-color: var(--onSurface);
    opacity: 0.3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease, width 0.4s;
}

.active, .dot:hover {
    width: 0.9em;
    height: 0.9em;
    background-color: var(--onSurface);
    opacity: 0.7;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    text-align: center;
}

.fade {
    animation-name: fade;
    animation-duration: 0.6s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#gallery {
    margin-bottom: 1em;
}
/*
=========================================
=========== CARDS COLLECTORS ============
=========================================
*/


.horizontal-cards-collection {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    gap: 2.5em;
    flex-wrap: nowrap;
    overflow: auto;
}

.wrap-cards-collection {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    row-gap: 2.5em;
    column-gap: 2em;
    flex-wrap: wrap;
}

/*
==========================================
============ CLICKABLE CARDS =============
==========================================
*/

.card-link {
    color: inherit;
    text-decoration: none;
}

.card-link:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card img {
    width:100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
}

.card:hover img {
    transform: scale(1.1);
}

/*
=========================================
========== FULL PICTURE CARDS ===========
=========================================
*/
.full-picture-card {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
    border-radius: var(--cards-border-radius);
    border: 0.17em solid green;
    overflow: hidden;
}

.full-picture-card img {
    position: relative;
    z-index: -1;
}

.gradient-background h2 {
    position: absolute;
    left: 5%;
    top: 25%;
    color: white;
}

.gradient-background {
    width: 100%;
    height: 5em;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

/*
=========================================
============ ACTIVITY CARDS =============
=========================================
*/
.activity-card {
    position: relative;
    width: var(--cards-max-width);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.333%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--cards-border-radius);
    border: 0.15em solid;
    overflow: hidden;
    margin-bottom: 1em;
}

.activity-card h2, .activity-card p {
    padding: 0 6.5%;
}

.activity-card p {
    font-size: 1.4em;
    align-self: flex-end;
}

.activity-card h2 {
    transition: color 0.4s;
}

.activity-card:hover h2 {
    color: var(--tertiary);
}

.activity-card img {
    align-self: center;
}

.activity-card button {
    text-align: center;
    font-size: large;
    height: 3em;
    width: 90%;
    align-self: center;
    border-radius: var(--cards-border-radius);
    margin-bottom: 0.7em;
    background-color: orange;
    border: 2.5px solid darkorange;
    transition: background-color 0.4s ease;
    position: relative;
}

.activity-card button:hover {
    background-color: darkorange;
}